{% extends 'data_sampling_file/base.html' %}

{% block title %}Отчет за период{% endblock %}

{% block content %}

  <div class="modal modal-sheet position-static d-block" tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog mt-1 mb-5" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header border-bottom-1">
          <div class="modal-body py-0">
            <div class="form-group">
              <h2>Отчет за период</h2>
              <form method="post" enctype="multipart/form-data">
                <p>
                  <label for="date_old">Показать файлы :</label>
                </p>
                <p>
                  <label for="date_old">c: </label>
                  <input type="date" id="date_old" name="date_old"/>
                  <label for="date_new">по: </label>
                  <input type="date" id="date_new" name="date_new"/>
                </p>
                {% csrf_token %}
                <button class="form-control mt-2 mb-1 bg-primary"type="submit">Показать</button>
              </form>
          </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  {% for file in file_to_date %}
  <div class="modal modal-sheet position-static d-block bg-dark " tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog mt-1 mb-1" role="document">
      <div  id="myModal" class="modal-content rounded-4 shadow">
        <div class="modal-header border-bottom-0 py-1">
          <h5 id="fa_{{ file.id }}" style="line-height: 1;" >Автор: {{ file.user_avtor_file }} </h5>
        </div>
        <div class="modal-header py-0">
          <h6 id="fn_{{ file.id }}" style="line-height: 1">
            Название файла: {{ file.name_file }}
            Дата создания: {{ file.date_file }}
          </h6>
        </div>
        <div class="modal-body py-0">
          <p> 
            Всего ГП: {{ file.gp_all }}
            Уникальных: ГП: {{ file.gp_unical }} 
            Уникальных IP: {{ file.ip_unical }}
            Уникальных MAC: {{ file.MAC_unical }}
            Уникальных Проблем: {{ file.PROBLEM_unical }}
          </p>
          
          {% for gp_top in file.file_incidendys.all %}
            <p class="topgp"> 
              ТОП ГП: {{ gp_top.top_gp }} Count: {{ gp_top.count_top_gp }}
              ТОП IP: {{ gp_top.top_ip }} Count: {{ gp_top.count_top_ip }}
              ТОП MAC: {{ gp_top.top_mac }} Count: {{ gp_top.count_top_mac }}
            </p> 
            <p class="topgp">ТОП Проблем: {{ gp_top.top_problems }} Count: {{ gp_top.count_top_problems }}</p>
          {% endfor %} 

        </div>
      </div>
    </div>
  </div>
  {% endfor %}  

{% endblock %}
